
.receitas {
    width: 50%;
    height: auto;
}

@media (max-width: 940px) {
    .pesquisa {
        width: 100%;
        padding: 2px;
        height: fit-content;
    }
    .receitas {
        flex-direction: column;
    }
    .titulo {
        display: none;
    }
    #titulo1 {
        display: initial;
    }
    #receitas {
        grid-column-gap: 1em;
      }
}

@media (max-width: 720px) {
    #receitas {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
} 
