
.receitas {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 0.5rem;
}

.img-fundo{
    width: 100%;
}

.img-fundo-sobremesa{
    width: 100%;
    margin-top: 1.5rem;
}

.img-fundo-lanche{
    width: 100%;
    height: auto;
}

@media (max-width: 940px) {
    .pesquisa {
        width: 100%;
        padding: 2px;
        height: fit-content;
    }
    .receitas {
        flex-direction: column;
    }
    .titulo {
        display: none;
    }
    #titulo1 {
        display: initial;
    }
}

@media (max-width: 720px) {
    #receitas {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
} 
